Imports

In [3]:
import pandas as pd
import numpy as np 
import matplotlib as plt 
import seaborn as sns
import yfinance as yf
import os
import sys
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

Read Data

In [4]:
df = pd.read_csv('../data/US_SYMBOLS.csv')

df.head()

  ticker                          name exchange
0      A     Agilent Technologies Inc.     NYSE
1     AA             Alcoa Corporation     NYSE
2    AAC  Ares Acquisition Corporation     NYSE
3   AACG         ATA Creativity Global   NASDAQ
4   AACI    Armada Acquisition Corp. I   NASDAQ

Classifying Meta Inf